:root {
    --azulMarino: rgba(31, 62, 114);
    --azulClaro: rgba(240, 244, 255);
    --naranjaClaro: rgba(247, 148, 0, 0.151);
}

#titulo {
    color: var(--azulMarino);
}

#principalIMG {
    width: 50%;
    height: 670px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    background-size: cover;
}

#dataVacunaicon {
    position: absolute;
    left: 200px;
    z-index: 1;
    width: 680px;
    /* opacity: 0.9; */
    background: #FFF;
    box-shadow: 0px 10px 10px rgb(240, 240, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#vacunas img {
    width: 25%;
    height: 120px;
}

.capaBlanca {
    position: absolute;
    z-index: 2;
    width: 92%;
    height: 200px;
    background: #FFF;
    top: 630px;
    opacity: 0.9;
}

#vacunasIMG {
    width: 100%;
    margin-top: 150px;
}

a {
    text-decoration: none;
}

.trianguloSmall {
    width: 0px;
    height: 0px;
    border-bottom: 40px solid #69696911;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 80px;
    left: 70px;
    transform: rotate(180deg);
}

.triangulo {
    width: 0px;
    height: 0px;
    border-bottom: 50px solid #69696911;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 320px;
    left: 605px;
    transform: rotate(270deg);
}

.trianguloVacunas {
    width: 0px;
    height: 0px;
    border-bottom: 50px solid #69696911;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 800px;
    right: -25px;
    transform: rotate(270deg);
}

.trianguloBeforeVacunas {
    width: 0px;
    height: 0px;
    border-bottom: 50px solid #69696911;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 1200px;
    left: -25px;
    transform: rotate(90deg);
}

.trianguloEmergency {
    width: 0px;
    height: 0px;
    border-bottom: 50px solid #69696911;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    top: 1750px;
    right: -25px;
    transform: rotate(270deg);
}

.trianguloFooter {
    width: 0px;
    height: 0px;
    border-bottom: 80px solid #69696911;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    position: absolute;
    bottom: -2205px;
    right: 280px;
}

#term {
    z-index: 2;
}

.dataIntro {
    width: 330px;
}

#iconoCuadro {
    padding: 5px;
    border-radius: 5px;
    background: var(--azulClaro);
    box-shadow: 0px 10px 10px rgb(240, 240, 240);
}

#iconoNaranja {
    padding: 5px;
    border-radius: 5px;
    background: var(--naranjaClaro);
    box-shadow: 0px 10px 10px rgb(240, 240, 240);
}

#btnSub {
    width: 100px;
    height: 40px;
    box-shadow: 0px 10px 10px rgb(240, 240, 240);
}

.textoShould {
    width: 450px;
}

#textEmergency {
    width: 650px;
}

#cardSombra {
    box-shadow: 0px 0px 20px 10px rgb(240, 240, 240);
}

.espacioNavbar {
    width: 850px;
    height: 5px;
}

@media (max-width: 768px) {
    #dataVacunaicon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 90%;
        opacity: 1;
        left: 0;
        margin-top: 10px;
    }
    .espacioNavbar {
        display: none;
    }
    .textoShould,
    #textEmergency {
        width: 100%;
    }
    #footerData1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .trianguloSmall,
    .triangulo,
    .trianguloVacunas,
    .trianguloBeforeVacunas,
    .trianguloEmergency,
    .trianguloFooter {
        display: none;
    }
    #principalIMG {
        width: 100%;
        height: 80%;
        position: relative;
        top: 0;
        right: 0;
        z-index: -1;
        background-size: cover;
    }
    #vacunasIMG {
        margin-top: 5px;
    }
}